<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    <form action="/login" method="post">
      <label for="">Email <input type="email" required name="email" /></label>
      <%if(typeof emailerror === 'undefined'){%> <%}else{%>
      <p style="color: red;"><%=emailerror%></p>
      <%}%>
      <label for=""
        >Password <input type="password" required name="password"
      /></label>
      <%if(typeof passworderror === 'undefined'){%> <%}else{%>
      <p style="color: red;"><%=passworderror%></p>
      <%}%>
      <button type="submit">Login</button>
    </form>
    if you dont have an account <a href="/signup">Signup</a>
    <p></p>
  </body>
</html>
